[Unit]
Description=InfluxDB time-series database
Documentation=https://docs.influxdata.com/influxdb/
After=network.target

[Service]
User=influxdb
Group=influxdb
LimitNOFILE=65536
EnvironmentFile=-/etc/default/influxdb
ExecStart=/usr/bin/influxd -config /etc/influxdb/influxdb.conf
Restart=on-failure
RestartSec=10
TimeoutStopSec=20
StandardOutput=journal
StandardError=journal
SyslogIdentifier=influxd

[Install]
WantedBy=multi-user.target
